.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wordmark {
    display: flex; 
    justify-content: center;
    margin: auto auto;
    margin-bottom: 2%;
    width: 350px;
}

.logo {
    height: 1.6rem;
    margin: auto 1%;
}

h1, h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
}

h1 {
    color: #474747;
    margin: 2% 0;
    text-align: center;
}

h2 {
    color: #FF0F34;
    margin: 0 0;
    font-size: 1.4rem;
}

.userform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login button, .login input {
    width: fit-content;
    margin: 0.5% auto;
}

p {
    text-align: center;
}

.tm, .labels {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.tm {
    line-height: 1.3;
    width: 95%;
    margin: 0 auto;
}

.labels {
    font-size: 1.2rem;
    line-height: 2;
    width: 95%;
    margin: 0 auto;
}

.name {
    width: 20vw;
}

.hiredate {
    width: 20vw;
    min-width: 110px;
}

.points {
    min-width: 135px;
    width: 15vw;
}

.email {
    width: 40vw;
    text-align: left;
    padding: 0 1%;
} 

.name, .hiredate, .points, .email {
    border: 1px solid lightgray;
}

.newuserbutton {
    text-align: center;
    margin-bottom: 2%;
}

.userform label {
    margin: 0.3% auto;
}

.userformbuttons button {
    margin: 0.5% 0.5%;
}

.tm:hover {
    background-color: silver;
    cursor: pointer;
}

.currentuser {
    background-color: gainsboro;
}