.tm, .labels {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto auto;
    text-align: center;
}

.tm {
    line-height: 1.3;
}

.labels {
    font-size: 1.2rem;
    line-height: 2;
}

.name {
    width: 25%;
}

.hiredate {
    width: 15%;
    min-width: 110px;
}

.points {
    min-width: 135px;
    width: 15%;
}

.email {
    width: 40%;
} 

.name, .hiredate, .points, .email {
    border: 1px solid lightgray;
}